In [1]:
import pandas as pd
import numpy as np
import sklearn
from sklearn import linear_model
from sklearn.utils import shuffle

In [2]:
data=pd.read_csv(r"C:\Users\Sameer.Joshi\Downloads\student\student-mat.csv",sep=";")
data=data[['studytime','failures','absences','G1','G2','G3']]
data.head()

   studytime  failures  absences  G1  G2  G3
0          2         0         6   5   6   6
1          2         0         4   5   5   6
2          2         3        10   7   8  10
3          3         0         2  15  14  15
4          2         0         4   6  10  10

In [12]:
X=np.array(data.drop(['G3'],1))
X
y=np.array(data['G3'])
y

x_train, x_test, y_train, y_test = sklearn.model_selection.train_test_split(X, y, test_size=0.1)

linear=linear_model.LinearRegression()
linear.fit(x_train,y_train)
acc=linear.score(x_test,y_test)
print("Accuracy: \n",acc)
print("Coefficient: \n",linear.coef_)
print('Intercept: \n',linear.intercept_)
predictions=linear.predict(x_test)

Accuracy:
 0.911167970857047
Coefficient:
 [-0.21979774 -0.30794056  0.04172928  0.1527407   0.98871328]
Intercept:
 -1.5615194181276788

In [14]:
#Create table to see comparison between o/p and expected o/p

ip_list=[]
op_list=[]
ex_list=[]
for i in range(0,len(x_test)):
    ip_list.append(x_test[i])
    op_list.append(predictions[i])
    ex_list.append(y_test[i])
    
compare={'Input':ip_list,'Output':op_list,'Expected o/p':ex_list}
compare_df=pd.DataFrame.from_dict(compare)
compare_df.head(10)

                Input     Output  Expected o/p
0   [3, 0, 0, 16, 17]  17.031064            17
1     [2, 0, 0, 6, 0]  -1.084671             0
2   [1, 0, 3, 14, 15]  15.312940            16
3     [2, 0, 4, 6, 5]   4.025813             6
4    [1, 1, 38, 8, 9]   9.616800             8
5    [1, 3, 16, 6, 8]   6.788680             8
6  [3, 1, 12, 14, 13]  12.963541            13
7   [2, 0, 2, 10, 11]  10.485597            11
8   [1, 0, 0, 17, 18]  18.612114            18
9  [2, 0, 21, 17, 18]  19.268631            18